@import url("https://fonts.googleapis.com/css2?family=Pompiere&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: #000000;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1200px;
  padding-inline: 20px;
  margin-inline: auto;
}

header {
  height: 30dvh;
  position: absolute;
  top: 0;
  width: 100%;
}

header .container {
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo img {
  width: 210px;
  height: 100%;
  object-fit: contain;
}

.navigation {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navigation a {
  color: #ffffff;
  font-size: 18px;
}

.nav_actions {
  display: flex;
  align-items: center;
  margin-inline-start: auto;
  gap: 16px;
}

.nav_actions a {
  display: grid;
}

.nav_action_instagram svg {
  width: 25px;
  height: 25px;
}

.nav_action_facebook svg {
  width: 24px;
  height: 24px;
}

.nav_action_bag svg {
  width: 25px;
  height: 25px;
  margin-inline-start: 16px;
}

.hero_container {
  height: 100dvh;
  background-image: url(assets/hero_banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero_container .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.heading {
  font-size: 56px;
  font-family: "Pompiere", sans-serif;
  text-align: center;
}

.hero_container .heading {
  font-size: 64px;
  max-width: 500px;
  text-transform: uppercase;
  color: #ffffff;
}

.hero_container .sub_heading {
  color: #ffffff;
  font-size: 24px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
}

.hero_container .hero_cta {
  margin-top: 40px;
  border: 1px solid #ffffff;
  font-size: 18px;
  border-radius: 28px;
  color: #ffffff;
  padding: 16px 30px;
  background-color: rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  transition: all ease 0.4s;
}

.hero_container .hero_cta:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000;
}

.creations_container {
  padding-block: 90px;
  background-color: #f1f1f1;
}

.creations_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  margin-top: 50px;
  gap: 14px;
}

.creations_card {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 480px;
  border-radius: 20px;
}

.creations_card_1 {
  background-image: url(assets/creations_card_1.jpg);
}

.creations_card_2 {
  background-image: url(assets/creations_card_2.jpg);
}

.creations_card_3 {
  background-image: url(assets/creations_card_3.jpg);
}

.creations_card_wrapper {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.creations_card .heading {
  font-size: 48px;
  color: #ffffff;
}

.creations_card_btn {
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 10px 60px;
  font-size: 18px;
  border-radius: 24px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all ease 0.4s;
  position: absolute;
  bottom: 20px;
}

.creations_card_btn:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: #000000;
}

.about_container {
  padding-block: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.about_content .heading {
  text-align: left;
}

.about_info {
  font-size: 16px;
  padding-block-start: 20px;
  max-width: 90%;
}

.about_graphic {
  border-radius: 20px;
  overflow: hidden;
}

.about_graphic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service_container {
  padding-block: 90px;
  background-color: #f1f1f1;
}

.service_container .description {
  font-size: 16px;
  margin-top: 20px;
  max-width: 600px;
  margin-inline: auto;
  text-align: center;
}

.service_cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
}

.service_card {
  display: flex;
  flex-direction: column;
}

.service_card .heading {
  font-size: 48px;
}

.service_card .description {
  max-width: 80%;
  margin-block: 20px;
}

.service_card_img {
  width: 100%;
  margin-top: auto;
  border-radius: 20px;
}

.shop_container {
  padding-block: 90px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}

.shop_img {
  width: 100%;
  margin-top: 60px;
  border-radius: 20px;
}

.shop_details {
  display: flex;
  gap: 20px;
  margin-inline-start: 60px;
  color: gray;
}

.shop_detail {
  text-align: right;
}

.shop_detail p {
  margin-top: 20px;
}

.shop_content iframe {
  margin-top: 40px;
  width: 100%;
  max-height: 370px;
}

.review_container {
  background-image: url(assets/review_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.reviews_wrapper {
  background-color: rgba(0, 0, 0, 0.5);
}

.review_cards {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.review_card svg {
  height: 80px;
  max-width: 100%;
}

.review_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-end: 30px;
}

.review_card p {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  max-width: 350px;
}

.review_card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  margin-top: 20px;
  border-radius: 100%;
}

.review_card span {
  font-size: 16px;
  color: #ffffff;
  margin-top: 8px;
}

.shop_header {
  position: static;
}

.main_container {
  display: flex;
  padding-block: 50px;
}

aside {
  width: 250px;
}

aside h3 {
  font-size: 25px;
  color: #ffffff;
}
aside a {
  color: #ffffff;
  display: block;
  margin-top: 20px;
}

.main_heading {
  font-size: 50px;
  font-family: "Pompiere", sans-serif;
  color: #ffffff;
  font-weight: 400;
}

.main_sub_heading {
  color: #ffffff;
  font-size: 14px;
  margin-top: 22px;
}

.products_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.product_card {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product_img {
  width: 290px;
  height: 362px;
  border-radius: 40px;
  margin-top: 30px;
  object-fit: cover;
}

.product_heading {
  font-size: 28px;
  font-family: "Pompiere", sans-serif;
  color: #ffffff;
  font-weight: 300;
  margin-top: 12px;
}

.product_price {
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
  font-weight: 300;
}

.product_cta {
  font-size: 18px;
  padding: 14px;
  border-radius: 50px;
  margin-top: 18px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  font-weight: 300;
}

.product_cta:hover {
  background-color: rgba(255, 255, 255);
  color: #000000;
}

.main_about {
  height: 80dvh;
  background-image: url(assets/hero_banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main_about .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.main_about .main_heading {
  font-size: 64px;
  font-weight: 600;
  max-width: 500px;
  font-family: "Pompiere", sans-serif;
  text-align: center;
  color: #ffffff;
  margin-top: 250px;
}

.main_about .main_sub_heading {
  color: #ffffff;
  font-size: 18px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  max-width: 55%;
  text-align: center;
}

.started_container {
  padding-block: 90px;
} 

.how_it_all_started {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.how_it_all_started .heading {
  text-align: left;
}

.clients_experience {
  display: flex;
  gap: 90px;
  margin-top: 40px;
}

.clients_experience h4 {
  font-size: 24px;
  color: #10542a;
  font-weight: 500;
}

.clients_experience span {
  font-size: 16px;
  font-weight: 300;
}

.about_paragraph {
  font-size: 16px;
  font-weight: 300;
  max-width: 80%;
}

.about_paragraph_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  margin-top: 40px;
}

.main_about_img {
  margin-top: 40px;
  border-radius: 20px;
  overflow: hidden;
  height: 450px;
}

.main_about_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact_container {
  height: 80dvh;
  background-image: url(assets/hero_banner.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.contact_container .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.contact_container .heading {
  font-size: 64px;
  font-weight: 600;
  max-width: 500px;
  font-family: "Pompiere", sans-serif;
  text-align: center;
  color: #ffffff;
  margin-top: 250px;
}

.contact_container .sub_heading {
  color: #ffffff;
  font-size: 18px;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 20px;
  max-width: 40%;
  text-align: center;
}

.contact_form_container {
  background-color: #f1f1f1;
  padding-block: 60px;
}

.contact_form {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  padding-inline: 20px;
  margin-block-start: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact_form .form_group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contact_form label {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}

.contact_form input {
  width: 100%;
  height: 46px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid rgb(196, 196, 196);
  display: flex;
}

.contact_form input:hover {
  border-color: #333333;
}

.contact_form textarea {
  width: 100%;
  resize: none;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid rgb(196, 196, 196);
}

.contact_form textarea:hover {
  border-color: #333333;
}

.contact_form .submit_btn {
  margin-top: 20px;
  font-size: 18px;
  padding: 10px 40px;
  text-transform: uppercase;
  border-radius: 30px;
  margin-inline: auto;
  cursor: pointer;
  width: max-content;
}

.contact_form .submit_form:hover {
  background-color: rgba(92, 92, 92, 0.6);
  color: #ffffff;
  border: none;
}

footer {
  background-color: #f1f1f1;
}

footer .container {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
}

.footer_logo a img {
  width: 150px;
}

.footer_nav {
  display: flex;
  align-items: center;
}

.footer_nav_action_social {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer_nav_action_instagram svg {
  width: 23px;
}

.footer_nav {
  display: flex;
  list-style: none;
  gap: 40px;
}

.footer_nav a {
  display: flex;
}

.footer_nav li a {
  color: #1a1a1a;
  font-size: 16px;
}

.menu_hamburger {
  display: none;
}

@media (max-width: 1070px) {
  .main_container {
    flex-direction: column;
  }

  .main_heading {
    padding-top: 22px;
  }
}

@media (max-width: 1024px) {
  .creations_card .heading, .contact_container .heading {
    font-size: 38px;
  }

  .contact_container .sub_heading {
    font-size: 16px;
  }
 
}

@media (max-width: 950px) {
  .products_container {
    grid-template-columns: 1fr 1fr;
  }

  .product_img {
    width: 250px;
    height: 262px;
  }
}

@media (max-width: 880px) {
 nav, .nav_actions {
    display: none;
  }

  .navigation {
    flex-direction: column;
  }


  nav.open  {
    position: fixed;
    right: 0;
    top: 0;
    background-color: #ffffff;
    height: 100dvh;
    width: 70%;
    max-width: 300px;
    padding-block: 80px 30px;
    z-index: 9;
    display: block;
  }

  .navigation a {
    color: #000000;
    font-size: 20px;
    padding: 20px;
  }

  .creations_card {
    height: 350px;
  }

  .creations_card .heading {
    font-size: 30px;
  }

  .creations_card_btn {
    font-size: 16px;
    padding-inline: 40px;
  }

  .shop_container {
    grid-template-columns: 1fr;
  }

  .creations_container,
  .about_container,
  .service_container,
  .shop_container, .contact_form_container, .started_container {
    padding-block: 50px;
  }

  .menu_hamburger {
    height: 25px;
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    z-index: 99;
    margin-block-start: 35px;
  }

  .hamburger_line {
    background-color: #ffffff;
    height: 5px;
    width: 100%;

  }

  .menu_hamburger.open .top_line {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu_hamburger.open .bottom_line {
    transform: rotate(-45deg) translate(9px, -9px);
  }

  .menu_hamburger.open .middle_line {
    opacity: 0;
  }

  .menu_hamburger.open .hamburger_line {
    background-color: #000000;
  }

  .menu_hamburger.open {
    position: fixed;
    right: 20px;
  }

  header .container {
    justify-content: space-between;
    align-items: unset;
  }
  
}

@media (max-width: 768px) {
  .about_container, .how_it_all_started {
    grid-template-columns: 1fr;
  }
  .heading {
    font-size: 36px;
  }
  .service_card .heading {
    font-size: 30px;
  }
  p,
  .about_info,
  .service_container .description, .review_card p, .review_card span {
    font-size: 14px;
  }

  .shop_graphic {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .shop_img {
    margin-block-start: 30px;
    max-width: 70%;
  }

  .shop_details {
    margin-inline-start: unset;
  }

  .shop_detail {
    text-align: center;
  }

  .contact_container .sub_heading {
    max-width: 100% ;
  }
}

@media (max-width: 560px) {
  header {
    height: auto;
  }

  .logo img {
    width: auto;
    height: 120px;
  }

  .hero_container .heading, .main_about .main_heading {
    font-size: 42px;
  }

  .main_about .main_heading {
    margin-top: 150px;
  }

  .hero_container .sub_heading, .main_about .main_sub_heading {
    font-size: 18px;
    padding: 14px;
  }

  .hero_container .hero_cta {
    font-size: 16px;
  }

  .creations_cards {
    margin-block-start: 24px;
  }

  .service_cards {
    margin-block-start: 20px;
  }

  .contact_form {
    margin-block-start: 30px;
  }

  .shop_details {
    gap: 10px;
  }

  .shop_container {
    gap: 30px;
  }

  .shop_img {
    max-width: 80%;
  }

  .review_cards {
    flex-direction: column;
  }

  .contact_form .submit_btn {
    font-size: 16px;
  }

  .footer_logo {
    display: none;
  }

  footer {
    padding-block-end: 20px;
  }

  .products_container {
    grid-template-columns: 1fr;
  }

  .product_img {
    width: 250px;
    height: 262px;
  }

  .about_paragraph_wrapper {
    grid-template-columns: 1fr;
  }

}

@media (max-width: 480px) {
  .service_cards {
    grid-template-columns: 1fr;
  }

  .service_cards {
    gap: 30px;
  }

  .service_card .description {
    max-width: none;
  }

  .shop_details {
    flex-direction: column;
  }

  .shop_detail p {
    margin-block-start: 8px;
  }

  .shop_details {
    gap: 20px;
  }

  .main_about .main_sub_heading {
    max-width: 100%;
  }
}
